<!-- include header -->
<%-include('include/_header')%>
<!-- /include header-->

<h1>Projet COVDM2</h1>
<div class="control-about">
    <h4>À propos du projet</h4>
    
    <ul>
        <li>Projet originalement développé par Tristan Pinto, Dany Morales et Hamdi Lazaar [<a href="https://github.com/Selarow/COVDM">https://github.com/Selarow/COVDM</a>]</li>
        
        <li>Dans le cadre de la session 2, uniquement développé par Hamdi Lazaar  [<a href="https://github.com/DEED1T/COVDM2_crudapp">https://github.com/DEED1T/COVDM2_crudapp</a>]</li>
    </ul>
    
    <h4> Les différentes sources de données </h4>

    <ul>
        <li>Les différents centres [<a href=" https://www.data.gouv.fr/fr/datasets/sites-de-prelevements-pour-les-tests-covid/">https://www.data.gouv.fr/fr/datasets/sites-de-prelevements-pour-les-tests-covid/</a>]</li>
        
        <li>Pour les utilisateurs (patients) un script de génération aléatoire a été utilisé [<a href="https://github.com/Selarow/COVDM/blob/master/docs/script.py">https://github.com/Selarow/COVDM/blob/master/docs/script.py</a>]</li>
    </ul>

</div>
