
    <!-- include header -->
        <%-include('include/_header')%>
    <!-- /include header-->
        <div id="map"></div>

        <div class="control">
            <h1>STATS</h1>
                <div>
                    <div id="pie">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
        </div>

    <!-- include footer -->
        <%-include('include/_footer')%>
    <!-- /include footer-->
