
    <!-- include header -->
        <%-include('include/_header')%>
    <!-- /include header-->
        <div id="map"></div>

        <div class="control">
            <h1>STATS</h1>
                <div>
                    <div id="pie">
                        <div id="control-panel">
                            <button class="button" onclick="myRegion()">Ma Région</button>
                            <button class="button" onclick="nat()">Nationales</button>
                            <button class="button" onclick="window.location.href='/more'">Plus d'Informations</button>
                        </div>
                        <canvas id="chart"></canvas>
                    </div>
                </div>
        </div>

    <!-- include footer -->
        <%-include('include/_footer')%>
    <!-- /include footer-->
