<!-- include header -->
    <%-include('include/_header')%>
<!-- /include header-->

<h1>Statistiques Nationales</h1>
<div class="content">

    <div id="chart-left">
        <h4>
            Evolution des chiffres
        </h4>
        <canvas id='myChart'></canvas>
    </div>

    <div id="chart-right">
        <h4>
            Chiffres par tranches d'âge
        </h4>
        <canvas id='myChart1'></canvas>
    </div>
</div>
    <p>
        Chiffres datant de Avril 2021
    </p>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="js/more.js"></script>

</html>